moviepy==1.0.3
numpy>=1.21.0
Pillow>=9.0.0
faster-whisper>=1.2.0
pydub>=0.25.1
scipy>=1.9.0
opencv-python>=4.8.0
customtkinter>=5.2.0
torch>=2.0.0
ultralytics>=8.0.0
imageio_ffmpeg>=0.4.9
psutil>=5.9.0
tkinterdnd2>=0.4.0
